@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --bs-success: #028219 !important;
  --bs-success-subtle: #02821920 !important;
  --bs-success-border: #028219 !important;
  --bs-success-hover: #02821920 !important;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--bs-success) #fff;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100vh;
}

.dropdown-item:hover {
  background-color: var(--bs-success) !important;
  color: #fff !important;
}

/* background-color, text-color and button-color styles */
.bg-success {
  background-color: var(--bs-success) !important;
}

.bg-success-subtle {
  background-color: var(--bs-success-subtle) !important;
}

.btn-success {
  background-color: var(--bs-success) !important;
  border-color: var(--bs-success) !important;
}

.text-success {
  color: var(--bs-success) !important;
}

/* header searchbar style */
.searchBar:focus {
  outline: none !important;
  border: 0;
  box-shadow: 0 0 0 0.25rem var(--bs-success-subtle) !important;
}

.main {
  height: 100vh;
}

/* sidebar styles */
.sidebar ul li {
  font-size: 16px;
  list-style-type: none;
  color: #fff;
  padding: 10px;
  padding-left: 5px;
  margin: 0;
}

.sidebar i {
  font-size: 30px;
  color: var(--bs-success);
}

.sidebar ul li:hover {
  background-color: #f0002020;
  cursor: pointer;
}

.sidebar {
  height: 100vh;
  font-size: inherit;
}

/* media query for screen-size of max-with 600px*/

@media screen and (max-width: 768px) {
  .sidebar {
    height: auto;
    font-size: 14px;
  }
}

/* media query for screen-size of max-with 991.33px */
@media screen and (max-width: 991.33px) {
  .sidebar {
    height: auto;
  }
}

/* dashboard overview styles  */
.dashboardData {
  min-height: 150px;
  display: flex;
  align-items: center;
  gap: 1em;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
}

.dashboardData:hover {
  background-color: var(--bs-success) 20;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.icon {
  font-size: 20px;
  color: var(--bs-success);
  cursor: pointer;
}

/* table th and td styles */
table,
.table {
  font-size: 14px !important;
}

table th {
  font-weight: 500;
}

table td {
  font-weight: normal !important;
}

table .table thead,
tr,
th {
  background-color: var(--bs-success-subtle) !important;
}

table.dataTable thead > tr > th.sorting:after,
table.dataTable thead > tr > th.sorting_asc:after,
table.dataTable thead > tr > th.sorting_desc:after,
table.dataTable thead > tr > th.sorting_asc_disabled:after,
table.dataTable thead > tr > th.sorting_desc_disabled:after,
table.dataTable thead > tr > td.sorting:after,
table.dataTable thead > tr > td.sorting_asc:after,
table.dataTable thead > tr > td.sorting_desc:after,
table.dataTable thead > tr > td.sorting_asc_disabled:after,
table.dataTable thead > tr > td.sorting_desc_disabled:after {
  top: 50%;
  content: "▼";
  content: "▼" / "";
  color: red;
}

table.dataTable thead > tr > th.sorting::before,
table.dataTable thead > tr > th.sorting_asc::before,
table.dataTable thead > tr > th.sorting_desc::before,
table.dataTable thead > tr > th.sorting_asc_disabled::before,
table.dataTable thead > tr > th.sorting_desc_disabled::before,
table.dataTable thead > tr > td.sorting::before,
table.dataTable thead > tr > td.sorting_asc::before,
table.dataTable thead > tr > td.sorting_desc::before,
table.dataTable thead > tr > td.sorting_asc_disabled::before,
table.dataTable thead > tr > td.sorting_desc_disabled::before {
  bottom: 50%;
  content: "▲" / "";
  color: red;
}

.dataTables_wrapper .dataTables_filter,
.dataTables_length {
  margin-bottom: 10px !important;
}
.dataTables_wrapper .dataTables_paginate {
  margin-top: 20px !important;
}

.dataTables_wrapper .dataTables_info {
  margin-top: 20px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5rem 1rem !important;
  margin: 0 0.1rem !important;
  border-radius: 0.25rem !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: var(--bs-success-subtle) !important;
  color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: var(--bs-success) !important;
  color: #fff !important;
}
