@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary: #028219 !important;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  overflow: hidden;
  height: 100vh;
}

/* bg, btn, anchor, text color styles */
.btn,
.btn-success {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.a,
a {
  color: var(--primary) !important;
  text-decoration: underline dotted !important;
}

.bg-purple {
  background-color: purple !important;
}

.bg-gold {
  background-color: gold !important;
}
.text-danger {
  color: var(--primary) !important;
}

.container-fluid {
  background-image: linear-gradient(to right bottom, #000, var(--primary), #000),
    url(../../images/schoolbg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;
  background-blend-mode: darken;
  height: 100vh;
}

.logo2 {
  display: none !important;
}
.logo1 {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}
.loginForm {
  /* background-color: #eee; */
  padding: 20px;
  min-width: 60%;
  border: 2px dotted #fff;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  .hidden {
    display: none !important;
  }

  img .hide {
    display: block;
  }

  .container-fluid {
    padding: 20px;
  }

  .loginForm {
    margin-top: 65px !important;
    min-width: 65%;
  }
}

@media only screen and (max-width: 728px) {
  .hidden {
    display: none !important;
  }

  .logo2 {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }

  .container-fluid {
    padding: 20px;
  }

  .loginForm {
    margin-top: 65px !important;
    width: 100%;
  }
}

@media only screen and (max-width: 767.33px) {
  .hidden {
    display: none !important;
  }

  .container-fluid {
    padding: 20px;
  }

  img .hide {
    display: block !important;
  }
  .loginForm {
    margin-top: 65px !important;
    min-width: 65%;
  }
}

::placeholder {
  color: #000 !important;
  opacity: 0.5 !important;
  font-style: italic !important;
  font-weight: 300 !important;
  font-size: 12px !important;
}

input:focus {
  outline: none !important;
  border: 0;
  box-shadow: 0 0 0 0.25rem #02821920 !important;
}
